@charset "utf-8";
/* CSS files add styling rules to your content */

html {
  font-size: 16px;
  background-color: #DBC39C; /*picture from 'https://delmusic.net/home/photo-1490735891913-40897cdaafd1/'*/
}

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 20px;
  background-color: white;
  margin: 0 auto;
  width: 1980px;
  max-width: 1020px;
  min-width: 640px;
}


/* header*/
body header h1 {
  color: Black;
  text-align: center;
  margin: 0;
  line-height: 2.5em;
}


/*Navigation*/
header nav ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #121A2D;
  display: flex;
}

header nav ul li {
  text-align: center;
  width: 20%;
  height: inherit;
  line-height: 1.9em;
}

header nav a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: white;
  width: 100%;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: none;
  color: black;
}

header nav li:nth-child(3) {
  font-family: "Zhang QA", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}

header nav li:nth-child(1) {
   padding-top: 9px;
}

header nav li:nth-child(2) {
   padding-top: 9px;
}

header nav li:nth-child(4) {
   padding-top: 9px;
}

header nav li:nth-child(5) {
   padding-top: 9px;
}

nav > ul > li:hover {
  background-color: #4D5A7A;
}

a:hover{
   text-decoration: none;
}

/* classes */
.artstyle, .header2 {
  padding: 0px 90px;
}

.artstyle{
  padding-bottom:10px;
  margin: 0px;
}

.header2 {
  padding-top: 20px;
}

/*Button Classes*/
.btn {
  background-color: #121A2D;
  opacity: 0.9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 280px;
}

.btn:hover {
  background-color: #DCDCDC;
  transition: 0.5s;
}


/*Section 1*/
article {
  width: 300px;
  margin-left: 205px;
  margin-right: 100px;
}

article ul {
  background-color: #EAD7C0;
  list-style-type: none;
  align-self: center;
  line-height: 22px;
  margin-top: 70px;
  padding: 5px;
}

article ul li {
  margin: 10px 20px;
  text-align: center;
}

div#doodle img {
  width: 400px;
  position: relative;
  left: -95px;
  top: 105px;
  float: right;
}

div#england img {
  width: 400px;
  position: relative;
  left: 105px;
  top: 0px;
}

.btn1 {
  float: right;
  margin-top: -120px;
  margin-right: 300px;
  position: relative;
  z-index: 1;
}

/*Section 2*/


div#section2 {
  background-color: #C89777;
  padding-bottom: 5px;
  margin-top: 70px; 
  width: 100%;
}

/*WATCH THIS VIDEO!! https://www.youtube.com/watch?v=l55hSbBUdmQ (abt z-index, watched)*/

#content {
  width: 60%;
  height: 220px;
  margin-left: 400px;
  margin-top: -120px;
  position: relative;
  z-index:3;
  border: none;
  display:flex;
  align-items: center;  
}

#content p {
  padding: 15px 15px 15px 110px;
  background-color: #EAD7C0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*HOW TO CREATE SHADOWS: https://www.w3schools.com/css/css3_shadows_box.asp*/
}

.btn2 {
  transform: translate(30px, -60px); 
                    /*right    top*/
}

#quote {
  width: 415px;
  height: auto;
  margin-left: 60px;
  margin-top:30px;
  position: relative;
  z-index:4;
  border: none;
  background-color: #F5F5F5;
  font-style: italic;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#quote > blockquote {
  border: 0;
  font-size: inherit;  
}

blockquote:before {
  content: open-quote;
   font-family:'Times New Roman', Times, serif;
   font-size: 2em;
   font-weight: bold;
}

blockquote::after {
  content: close-quote;
  font-family:'Times New Roman', Times, serif;
  font-size: 2em;
  font-weight: bold;
}


/*Section 3*/

.btn3 {
  display: block;
  margin:10px auto;
  z-index: 1;
}


/*Section 4*/
#section4 {
  background-color: #EAD7C0;
  padding-bottom: 25px;
}

.btn4 {
  display: block;
  margin:auto;
  z-index: 1;
}

/*Section 5*/
.wrapper {
  perspective: 900px;
  display:flex;
  margin:0 20px;
}

.container {
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  /* box-shadow: 0px 20px 100px #555; */
  justify-content: space-around;
  width: 100%;
  height: 100%;
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.6);
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}

.container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(30px);
  transition: .5s all ease;
  z-index: 400;
}

.info {
  color: #fff;
}

.container-image {
  padding-top: 15px;
  width: 100%;
}

.logo {
  width:30px;
}

.instagram {
  margin: 0;
}

.tag {
  padding: 0px 90px;
}

.s5 {
  background-color: #C89777;
  margin: 90px auto;
  padding: 20px 90px;
}

/*Footer*/

footer {
  background-color: black;
  color: white;
  height: 280px;
}

#footer {
  position: relative;
  padding: 0px 20px 20px 105px;
}








/*Responsive Web coding*/

@media only screen and (max-width: 1000px) {

  
  header nav ul {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    display: flex;
    width: 100%;
  }

  header nav ul li a {
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .container {
    transform: rotateX(0deg);
    width: 50%;
    height: auto;
    box-shadow:  0px 20px 100px #555;
    animation: none;
  }

    .container:nth-child(2), .container:nth-child(1) {
    margin-bottom:20%;
  }

    .container:nth-child(1)  {
      margin-top:30px;
    }

  .container:hover {
    cursor: pointer;
    transition: .5s all ease;
  }

  div#section2 {
    background-color: #DD5C26;
    padding-bottom: 20px;
    margin-top: 30px; 
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #section2 h2 {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
  }

  #content {
    width:50%;
    margin: 0;
    height: auto;
    margin:0 0 10px 0;
  }
  
  #content p {
    padding: 10px 20px;
    background-color: #EA9B43;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*HOW TO CREATE SHADOWS: https://www.w3schools.com/css/css3_shadows_box.asp*/
  }
  
  #quote {
    width:50%;
    margin:0 0 10px 0;
  }

  .btn2 {
    margin: 0;
    transform: none;
  }
}
